@model IEnumerable<E_commerce_2.Models.Product>
@using Microsoft.AspNetCore.Identity

@{
    ViewData["Title"] = "Index";
    var isAdministrator = User.IsInRole("Administrator");
    var isEditor = User.IsInRole("Editor");
}


<h1>Index</h1>

<p>
    @if (isAdministrator)
    {
        <a asp-action="Create">Create New</a>
    }
</p>

@foreach (var item in Model)
{
    <div class="col-md-3 product-card">
        <a asp-action="Details" asp-route-id="@item.Id" class="card-link">
            <div class="card mb-4 border border-5 border-dark CStyle">
                <img src="@item.ImageURL" class="card-img-top" alt="@item.Name" width="200" height="200">
                <div class="card-body">
                    <h5 class="card-title">@item.Name</h5>
                    <p class="card-text">@item.Description</p>
                    <p class="card-text">$@item.Price</p>
                    @if (isEditor)
                    {
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                    }
                    @if (isAdministrator)
                    {
                        <a asp-action="ReplacePicture" asp-route-id="@item.Id">Replace Picture</a>
                    }
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a>
                    @if (isAdministrator)
                    {
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    }
                </div>
            </div>
        </a>
    </div>
}

